<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form class="form" method="POST" action="/create">
		<fieldset>
		<legend>Create a new entry</legend>
			<label for="topic"> 
				New Research Topic <input type="text" name="topic" id="topic" required></label>
			<label for="headline">
				Headline <input type="text" name="headline" id="headline" required> </label>

			<label for="postdate">
				Date posted <input type="postdate" name="postdate" id="postdate"> 
			</label>
			
			<label for="urlO">
				URL <input type="text" name="urlO" id="urlO" required> 
			</label>
			
			<label for="twitter">
				Related Twitter Accounts<input type="text" name="twitter" id="twitter"> 
			</label>

			<label for="media">
				Related Media <input type="text" name="media" id="media"> 
			</label>
			
			<label for="text">
				Text <textarea type="text" placeholder="Text goes here" name="text" id="text"> </textarea> 
			</label>
			
			<label for="atags">
				Tags <input type="text" name="atags" id="atags">
			</label>
			
			<label for="breakingnews">
			Breaking news? <input type="radio" name="category" value="true">Yes <input type="radio" name="category" value="false">No<br>
			</label>
			
			<label for="vetted">
			If the source is twitter, is it verified?
			<input type="radio" name="vetted"	value="true"> Yes <input type="radio" name="vetted" value="false"> No <br>
			</label>
			
			<input class="btn btn-inverse" type="submit" value="Add Article">
			</fieldset>
		</form>
	</div>
	<!--
<div class="span3">
	
		<a href='/'>Back to the front page </a>
		<h3>Available stories</h3>
		<hr>
		{{#research}}
		<li>
			<a href="/research/{{slug}}">{{topic}}</a>
		</li>
		{{/research}}

		<br>
	</div>
	
</div>-->