<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" action="/create">
		
			<label for="research">
				New Research <input type="text" name="research" id="research"> 
			</label>

			<label for="headline">
				Headline <input type="text" name="headline" id="headline"> 
			</label>

			<label for="postdate">
				Date posted <input type="postdate" name="postdate" id="postdate"> 
			</label>
			
			<label for="urlO">
				URL <input type="text" name="urlO" id="urlO"> 
			</label>
			
			<label for="twitter">
				Twitter <input type="text" name="twitter" id="twitter"> 
			</label>

			<label for="media">
				Related Media <input type="text" name="media" id="media"> 
			</label>
			
			<label for="text">
				Text <textarea type="text" name="text" id="text"> Text goes here</textarea> 
			</label>
			
			<label for="breakingnews">
			Breaking news?
			
			<input type="radio" name="category" value="true">Yes <input type="radio" name="category" value="false">No<br>
			
			</label>
			
			<input type="submit" value="Add Article">

		</form>
	</div>
<div class="span4">
	
		<a href='/'>Back to the front page </a>
		<h3>Available stories</h3>
		<hr>
		{{#research}}
		<li>
			<a href="/research/{{slug}}">{{headline}}</a>
		</li>
		{{/research}}

		<br>
	</div>
	
</div>