<div class="row">
	
	<!-- first column w/ image-->
	<div class="span4">
	<h2>{{research_n_n.headline}}</h2>
		<img src="{{research_n.media}}" alt=" {{research_n.headline}}" width="320px"><br>
		<div>
		URL: <a href = '{{research_n.urlO}}'> Link to original article</a> <br>
		Twitter: <a href=' http://www.twitter.com/{{research_n.twitter}}'> {{research_n.twitter}}</a><br>
		</div>
	</div>
	
	<!-- second column w/ details-->
	<div class="span4">
		<h2>{{research_n.headline}}</h2>
		<hr>

		<div>
			Post date:{{research_n.postdate}}
			<br>

			Text: {{research_n.text}}<br>

		</div>

		{{#research_n.breakingnews}}
		<div>
			<h3>BREAKING NEWS</h3>
		</div>
		{{/research_n.breakingnews}}

	</div>

	<!-- third column w/ listings -->
	<div class="span2">
		<a href='/'>Back to the front page </a>
		
		<h3>Other topics</h3>
		<hr>
		{{#research}}
		<li>
			<a href="/research/{{slug}}">{{headline}}</a>
		</li>
		{{/research}}

		<br>
		<a href="/create">Create a new topic</a>
	</div>

</div>