<div class="row">
	
	<!-- first column w/ image-->
	<div class="span4">
	<h2>{{research.headline}}</h2>
		<img src="{{research.media}}" alt=" {{research.headline}}" class="img-polaroid" width="320px"><br>
		<div>
		URL: <a href = '{{research.urlO}}'> Link to original article</a> <br>
		Twitter: <a href=' http://www.twitter.com/{{research.twitter}}'> {{research.twitter}}</a><br>
		</div>
	</div>
	
	<!-- second column w/ details-->
	<div class="span4">
		<h2>{{research.headline}}</h2>
		<hr>

		<div>
			Post date:{{research.formattedpostdate}}
			<br>

			Text: {{research.text}}<br>
		<!--	
			Missions:
			<ul>
				{{#research.missions}}
				<li>{{.}}</li>
				{{/research.missions}}
				{{^research.missions}}
				No missions yet.
				{{/research.missions}}
			</ul>-->
		</div>

		{{#research.breakingnews}}
		<div>
			<h3>WALKED ON THE MOON!</h3>
			<img src="http://gifs.gifbin.com/062009/1246007745_michael_moonwalking.gif" alt="moonwalking animated gif with michael jackson">
		</div>
		{{/research.breakingnews}}
<!--
		{{^research.walkedOnMoon}}
		NEVER GOT TO THE MOON :(
		{{/research.walkedOnMoon}}
		-->

	</div>

	<!-- third column w/ listings -->
	<div class="span2">
		<h3>Other topics</h3>
		<hr>
		{{#research}}
		<li>
			<a href="/research/{{slug}}">{{headline}}</a>
		</li>
		{{/research}}

		<br>
		<a href="/create">Add new research</a>
	</div>

</div>