<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form class="form" method="POST" action="/research/{{research_u.slug}}/edit">
		<fieldset>
		<legend> Edit entry</legend>

			<label for="headline">
				Headline <input type="text" name="headline" id="headline" value="{{research_u.headline}}" required> 
			</label>

			<label for="postdate">
				Date posted <input type="postdate" name="postdate" id="postdate" value="{{research_u.postdate}}"> 
			</label>
			
			<label for="urlO">
				Source URL <input type="text" name="urlO" id="urlO" value="{{research_u.urlO}}"> 
			</label>

			<label for="twitter">
				Twitter <input type="text" name="twitter" id="twitter"value="{{research_u.twitter}}"> 
			</label>
			
			<label for="media">
				Related Media <input type="text" name="media" id="media" value="{{research_u.media}}"> 
			</label>
			
			<label for="text">
				Text <input type="text" name="text" id="text" value="{{#research_u.text}}{{.}},{{/research_u.text}}"> 
			</label>			
			
			<label for="tags">
				Tags <input type="text" name="atags" id="atags" value="{{#research_u.atags}}">
			</label>

			<label for="breakingnews">
				Is it breaking news? <input type="radio" name="breakingnews" id="breakingnews" {{#research_u.breakingnews}}checked=checked{{/research_u.breakingnews}}> 
			</label>
			
			<label for="vetted">
				Vetted? <input type="radio" name="vetted" id="vetted" {{#research_u.vetted}}checked=checked{{/research_u.vetted}}> 
			</label>
			
			<input class="btn btn-inverse" type="submit" value="Edit Article">
		</fieldset>
		</form>
	</div>
</div>






